
    <h3>Ghost Map</h3>
    <!--div id="gmap" style="width:500px;height:380px;"></div-->
    <p-gmap [options]="options" [overlays]="overlays" [style]="{'width':'100%','height':'500px'}" (onOverlayClick)="handleOverlayClick($event)" ></p-gmap>
    <div *ngIf="loading">loading...</div>
    <p-dialog [(visible)]="displayDialog">
    <p-header>
        Header content here
    </p-header>
    Content
    <p-footer>
        Footer content here
    </p-footer>
    </p-dialog>

    <!--pre>{{data | json}}</pre-->
    
