
    <h2>Ghost Map - {{currentview}}</h2>
    <div>
     The markers on the map show places where ghosts where reported. Some locations are indentified, some just recorded as, e.g. "somewhere in County Leitrim". The buttons toggle the views for that.
     Clicking on a marker will present the ghost story recorded for that marker below the map</div>
    <p-selectButton [options]="locationTypes" [(ngModel)]="currentview" (onChange)="changeView($event, gmap.getMap())"></p-selectButton>
    <!--div id="gmap" style="width:500px;height:380px;"></div-->
    <p-gmap #gmap [options]="options" [overlays]="overlays" [style]="{'width':'100%','height':'300px'}" (onOverlayClick)="handleOverlayClick($event)" ></p-gmap>
    <div *ngIf="loading">loading...</div>
    <div *ngIf="displaystorydetails">
        <h2>{{headerText}}</h2>
         <li *ngFor="let story of ghostStory">
            {{story}}
         </li>
         <!--{{ghostStory}}-->
        <h3>Do you know something about this ghost story?<button pButton type="button" class="ui-button-danger" label="Tell Us"></button></h3>
    </div>
    
    
